body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: .8em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 2em;  }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; }
h4 { font-size: 0.5em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

/* Footer */
#divFooter{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: rgb(122, 12, 12);
	color: rgb(211, 211, 211);
	font-family: Actor, sans-serif;
	text-transform: none;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 22px;
	background-image: url(css/st1.jpg);
	background-repeat: repeat repeat;
}
.divPanel {padding: 40px;;;;}

#divFooter a {color: rgb(224, 95, 3); font-size: 13px; font-family: 'Open Sans', sans-serif;}

#divFooter h3 {font-family: 'Source Sans Pro', sans-serif; font-weight: normal; font-style: normal; font-size: 23px; line-height: 45px; color: rgb(211, 211, 211);}

h2 {font-weight: normal; font-style: normal; font-family: 'Source Sans Pro', sans-serif; font-size: 35px; line-height: 50px;}
footer { border-top: 1px solid #d5d5d5; font-size: .8em; }
/* Footer elements */

.social_bookmarks a {font-size:smaller !important;text-transform:uppercase;letter-spacing:1px;text-decoration:none;margin-right:20px;}

.copyright {font-size:smaller;letter-spacing:1px; color: #ddd}

/* About */

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1em; }
ul.posts li { list-style: none; }

/* Resume */
.resume { margin: 0px 0px 60px; }
.resume h1 { font-size: 2em; }
.resume h2 { font-size: 1.5em; }
.resume address, .resume .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.resume address, .resume p { font-size: 1.2em; }
.resume .download { float: right; font-size: .8em; text-transform: uppercase; }
