<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
  </head>


  <body>
    <nav>
<ul class="menu">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/resume">Resume</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/resource">CSS Resource Ideas</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:tomxcob@gmail.com">email</a></li>
   <li><a href="https://github.com/tomcock">github.com/tomcock</a></li>
   </ul>
  </footer>
  </body>

</html>
© 2019 Tom Bradbury.
